<section class="login-section">
    <div class="container py-5 mt-5">
        <div class="row align-items-center justify-content-center">

            <!-- Left Image -->
            <div class="col-md-8 col-lg-7 col-xl-6 text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid login-img" alt="Login Image">
            </div>

            <!-- Right Panel -->
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

                <div class="login-card">
                    <h3 class="text-center mb-4">User Login</h3>

                    <form (ngSubmit)="login()">

                        <!-- Email -->
                        <div class="form-group mb-4">
                            <label>User Email</label>
                            <input type="email" [(ngModel)]="formData.user_email" name="user_email"
                                class="form-control custom-input" required />
                        </div>

                        <!-- Pass -->
                        <div class="form-group mb-3">
                            <label>Password</label>
                            <input type="password" [(ngModel)]="formData.user_password" name="user_password"
                                class="form-control custom-input" required />
                        </div>

                        <!-- Links -->
                        <div class="d-flex justify-content-between align-items-center mb-4 small-links">
                            <div>
                                <span>New User? </span>
                                <a routerLink="/user/register">Create Account</a>
                            </div>

                            <a routerLink="/user/forgot-password">Forgot password?</a>
                        </div>

                        <!-- Button -->
                        <button type="submit" class="btn btn-gradient w-100 mb-3">
                            Login
                        </button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>