<!-- Start Hero Section Here -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                        <h1>
                            {{banner_info?.banner_title}}
                        </h1>
                        <p class="mb-4">
                            {{banner_info?.banner_details}}
                        </p>
                        <p><a routerLink="/user/shop" class="btn btn-danger me-2">Shop
                                Now</a>
                            <a routerLink="/user/service" class="btn btn-white-outline text-white">Explore</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img [src]="banner_image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
    <div class="container-fluid">

        <div class="row align-items-center">

            <div class="col-lg-3 mb-5 mb-lg-0 text-center text-lg-start">
                <h2 class="section-title mb-3">
                    {{ products[0]?.product_name }}
                </h2>

                <p class="section-desc">
                    {{ products[0]?.product_details }}
                </p>

                <a routerLink="/user/shop" class="explore-btn">
                    Explore More
                </a>
            </div>

            <!-- PRODUCT CARDS -->
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of products">

                <div class="product-card">
                    <div class="product-img">
                        <img [src]="product?.firstImage" alt="product">
                    </div>

                    <div class="product-content">
                        <h3>{{ product?.product_name }}</h3>
                        <p class="price">₹ {{ product?.product_price }}</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-glass-section py-5">
    <div class="container">

        <div class="row align-items-center">

            <!-- LEFT CONTENT -->
            <div class="col-lg-6">
                <h2 class="glass-title mb-3">Why Choose Us</h2>
                <p class="glass-subtitle">
                    {{ about?.heading }}
                </p>

                <div class="row g-4 mt-4">
                    <div class="col-12 col-md-6" *ngFor="let about_point of about_points">

                        <div class="glass-card">

                            <!-- ICON -->
                            <div class="glass-icon">
                                <img [src]="'http://localhost:1000/uploads/' + about_point?.why_choose_points_img">
                            </div>

                            <!-- TEXT -->
                            <h4>{{ about_point?.why_choose_points_name }}</h4>
                            <p>{{ about_point?.why_choose_points_details }}</p>

                        </div>

                    </div>
                </div>
            </div>

            <!-- RIGHT IMAGE -->
            <div class="col-lg-6 text-center mt-5 mt-lg-0">
                <div class="image-wrapper">
                    <img [src]="about_image" alt="Image" class="img-fluid main-img">
                </div>
            </div>

        </div>

    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img [src]="'http://localhost:1000/uploads/' + interior[0]?.first_image"
                            alt="Untree.co"></div>
                    <div class="grid grid-2"><img [src]="'http://localhost:1000/uploads/' + interior[0]?.second_image"
                            alt="Untree.co"></div>
                    <div class="grid grid-3"><img [src]="'http://localhost:1000/uploads/' + interior[0]?.third_image"
                            alt="Untree.co"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">
                    {{interior[0]?.heading}}
                </h2>
                <p>
                    {{interior[0]?.interior_details}}
                </p>

                <ul class="list-unstyled custom-list my-4">
                    <li>
                        {{interior[0]?.first_key}}
                    </li>
                    <li>
                        {{interior[0]?.second_key}}
                    </li>
                    <li>
                        {{interior[0]?.third_key}}
                    </li>
                    <li>
                        {{interior[0]?.forth_key}}
                    </li>
                </ul>
                <p><a herf="/user/shop" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">

        <div class="row g-4">

            <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">

                <div class="product-card">

                    <!-- IMAGE -->
                    <div class="product-img">
                        <img [src]="product.firstImage" alt="Image">
                    </div>

                    <!-- CONTENT -->
                    <div class="product-content">

                        <h3>{{ product?.product_name }}</h3>

                        <p class="desc">
                            {{ product?.product_details }}
                        </p>

                        <a routerLink="/user/shop" class="read-btn">
                            Read More →
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="container">
    <div class="col-lg-7 mx-auto text-center mb-2">
        <h2 class="section-title">Testimonials</h2>
    </div>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/Dots -->
        <div class="carousel-indicators">
            <button *ngFor="let slide of testimonial; let i = index" type="button" class="carousel-button"
                data-bs-target="#carouselExample" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
                [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
        </div>

        <!-- Carousel Items -->
        <div class="carousel-inner">
            <div *ngFor="let slide of testimonial; let i = index" class="carousel-item" [class.active]="i === 0">
                <div class="row">
                    <!-- First part: Image Section -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img [src]="'http://localhost:1000/uploads/' + slide.customer_image" alt="Image"
                            class="rounded-circle" style="width: 250px; height: 250px;">
                    </div>

                    <!-- Second part: Heading Section -->
                    <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <div class="col-md-12">
                            <h3 class="text-center text-dark">{{ slide.customer_name }}</h3>
                            <h3 class="text-center">{{ slide.customer_position }}</h3>
                            <p class="text-center">{{ slide.customer_massage }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div>
</div>
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">

        <!-- Header -->
        <div class="row mb-5 align-items-center">
            <div class="col-md-12 row">
                <h2 class="section-title col-md-2">Recent Blogs</h2>
                <a routerLink="/user/blog" class="view-all-btn col-md-2 col-sm-2 col-lg-2 text-center h-25">View All
                    Posts</a>
            </div>
        </div>

        <!-- Blog Cards -->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let blog of blogs">

                <div class="blog-card">

                    <!-- Image -->
                    <div class="blog-img">
                        <img [src]="'http://localhost:1000/uploads/' + blog.blog_image" alt="Blog Image">
                    </div>

                    <!-- Content -->
                    <div class="blog-content">
                        <h3>{{blog.blog_title}}</h3>

                        <div class="meta">
                            <span>By {{blog.blog_post_by}}</span>
                            <span>{{blog.blog_post_date}} • {{blog.blog_post_time}}</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>